name: Build Android APK

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev wget
          pip install --upgrade pip
          pip install cython virtualenv
          pip install buildozer
      
      - name: Accept all licenses automatically
        run: |
          # Устанавливаем cmdline-tools
          wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
          unzip -q commandlinetools-linux-*.zip
          mkdir -p ~/.android/cmdline-tools
          mv cmdline-tools ~/.android/cmdline-tools/latest
          export PATH=$PATH:~/.android/cmdline-tools/latest/bin
          
          # Принимаем все лицензии
          yes | sdkmanager --licenses --sdk_root=~/.android || true
          
          # Устанавливаем нужные компоненты
          yes | sdkmanager "platform-tools" "platforms;android-33" "build-tools;35.0.0" --sdk_root=~/.android
          
          # Копируем в папку buildozer
          mkdir -p ~/.buildozer/android/platform/android-sdk
          cp -r ~/.android/* ~/.buildozer/android/platform/android-sdk/
          echo "✅ Лицензии приняты, SDK готов"
      
      - name: Build APK
        run: |
          export ANDROID_HOME=~/.buildozer/android/platform/android-sdk
          buildozer android debug
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: bin/*.apk
