name: Build Android APK

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev wget
          
      - name: Accept Android SDK licenses
        run: |
          mkdir -p ~/.android
          touch ~/.android/repositories.cfg
          # Устанавливаем command line tools
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
          unzip commandlinetools-linux-*.zip -d ~/android-cmdline
          mkdir -p ~/android-sdk/cmdline-tools
          mv ~/android-cmdline/cmdline-tools ~/android-sdk/cmdline-tools/latest
          export PATH=$PATH:~/android-sdk/cmdline-tools/latest/bin
          # Принимаем все лицензии
          yes | sdkmanager --licenses --sdk_root=~/android-sdk
          yes | sdkmanager "build-tools;37.0.0-rc1" --sdk_root=~/android-sdk
          
      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install cython virtualenv
          pip install buildozer
          
      - name: Build with Buildozer
        run: |
          buildozer android debug
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: bin/*.apk
