name: Build Android APK

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev wget
          pip install --upgrade pip
          pip install cython virtualenv
          pip install buildozer
      
      - name: Install cmdline-tools and fix sdkmanager
        run: |
          # Создаём структуру папок
          mkdir -p ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest
          
          # Скачиваем command line tools
          wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
          unzip -q commandlinetools-linux-*.zip -d ~/temp-cmdline
          
          # Копируем в нужное место
          cp -r ~/temp-cmdline/cmdline-tools/* ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest/
          
          # Создаём папку tools/bin и ссылку
          mkdir -p ~/.buildozer/android/platform/android-sdk/tools/bin
          ln -sf ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager ~/.buildozer/android/platform/android-sdk/tools/bin/sdkmanager
          
          # Принимаем лицензии через настоящий sdkmanager
          yes | ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses --sdk_root=~/.buildozer/android/platform/android-sdk || true
          
          # Устанавливаем build-tools
          yes | ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager "build-tools;37.0.0-rc1" --sdk_root=~/.buildozer/android/platform/android-sdk || true
      
      - name: Build APK
        run: |
          buildozer android debug
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: bin/*.apk
